<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Can\'t stop</display-name>
  <servlet>
    <servlet-name>cantstop</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cantstop</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	/WEB-INF/cantstop-service.xml
    	/WEB-INF/cantstop-model.xml
    	/WEB-INF/cantstop-database-jdbc.xml
    </param-value>
  </context-param>
  
 <servlet>
    <servlet-name>hsqldb</servlet-name>
    <servlet-class>org.hsqldb.server.Servlet</servlet-class>
    <init-param>
    	<!-- Location of HSQLDB database files -->
		<param-name>hsqldb.server.database</param-name> 
		<param-value>database/</param-value> 
	</init-param>
	<init-param>
    	<!-- database files are placed in WEB-INF -->
    	<param-name>hsqldb.server.use_web-inf_path</param-name>
    	<param-value>true</param-value>
	</init-param>
	
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hsqldb</servlet-name>
    <url-pattern>/hsqldb</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
</web-app>